* {
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  body {
    background-image: url(image/ours_fond.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
}

header {
  height: 250px;
  background: linear-gradient(to left, #e46160, #fff);
  position: relative;
}
header h1 {
  font-family: "Dancing Script", cursive;
  color: #fff;
  font-size: 8rem;
  text-align: center;
}

nav {
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 30%;
  background-color: #000;
}
nav #icon-content {
  max-width: 980px;
  margin: auto;
  display: flex;
  padding: 1% 3% 0% 3%;
}
nav #icon-home, nav #icon-cart {
  width: 50%;
}
nav #icon-home {
  text-align: left;
}
nav #icon-cart {
  text-align: right;
}
nav .fas {
  color: #fff;
  font-size: 2.5rem;
  margin-top: 1%;
}

#wrap {
  max-width: 980px;
  margin: auto;
  z-index: 2;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 570px) and (max-width: 768px) {
  section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.article {
  align-items: center;
  width: 90%;
  margin-top: 5%;
  text-align: center;
  padding: 10px;
}
@media screen and (min-width: 570px) and (max-width: 768px) {
  .article {
    width: 45%;
  }
}
@media screen and (min-width: 768px) {
  .article {
    width: 30%;
  }
}
.article h2 {
  font-family: "Pacifico", cursive;
  color: #fff;
  font-size: 2rem;
}
.article img {
  width: 70%;
  height: 150px;
  background-color: #706d6d;
  margin-bottom: 10%;
}
.article .infos {
  background-color: #fff;
  width: 95%;
  padding: 5px;
  margin: auto;
}
.article .description {
  font-family: "Roboto", sans-serif;
  color: #706d6d;
  font-size: 0.8rem;
  text-align: left;
  margin-bottom: 15px;
}
.article .align {
  display: flex;
  justify-content: space-around;
}
.article .prix {
  font-family: "Roboto", sans-serif;
  color: #e56161;
  font-weight: 600;
  font-size: 2rem;
}
.article .want-some {
  width: 60%;
  border-radius: 9px;
  background-color: #000;
  text-align: center;
  height: 30px;
}
.article .want-some .fas {
  color: #fff;
}
.article #ajouter {
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  font-style: italic;
  border: none;
  border-radius: 40px;
  padding: 7px;
  height: 25px;
}
.article.article__first {
  background-color: #9e6e6e;
}
.article.article__two {
  background-color: #981313;
}
.article.article__three {
  background-color: #d28080;
}
.article.article__four {
  background-color: #e1c6c6;
}
.article.article__five {
  background-color: #e56161;
}

footer {
  background-color: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  padding: 2%;
  margin-top: 45px;
  z-index: 1;
}
footer ul {
  padding: 0;
}
footer li {
  list-style-type: none;
}

#ours-dessin {
  display: none;
}
@media screen and (min-width: 570px) and (max-width: 768px) {
  #ours-dessin {
    display: block;
    text-align: right;
    position: absolute;
    right: 0px;
    bottom: 80px;
    z-index: 0;
  }
  #ours-dessin img {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  #ours-dessin {
    display: block;
    text-align: right;
    position: absolute;
    right: 150px;
    bottom: 80px;
    z-index: 0;
  }
  #ours-dessin img {
    width: 150%;
  }
}

#bloc-product {
  align-items: center;
  width: 90%;
  margin-top: 5%;
  background-color: #e1c6c6;
  text-align: center;
  padding: 10px 0px 30px 0px;
}
@media screen and (min-width: 570px) and (max-width: 768px) {
  #bloc-product {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  #bloc-product {
    width: 60%;
  }
}
#bloc-product h2 {
  font-family: "Pacifico", cursive;
  color: #000;
  font-size: 3rem;
}
#bloc-product img {
  width: 85%;
  background-color: #706d6d;
  margin-bottom: 5%;
  margin-top: 5%;
}
#bloc-product #selecteurs {
  display: block;
}
@media screen and (min-width: 570px) {
  #bloc-product #selecteurs {
    display: flex;
    justify-content: space-around;
  }
}
#bloc-product #selecteur-couleur {
  margin-bottom: 5%;
  font-family: "Pacifico", cursive;
  color: #e56161;
  font-size: 1.3rem;
  margin-right: 2%;
}
#bloc-product #selecteur-couleur select {
  width: 30%;
  background-color: #e56161;
  color: #fff;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
@media screen and (min-width: 570px) {
  #bloc-product #selecteur-couleur select {
    width: 90%;
  }
}
#bloc-product #selecteur-nombre {
  margin-bottom: 5%;
  font-family: "Pacifico", cursive;
  color: #e56161;
  font-size: 1.3rem;
  margin-right: 2%;
}
#bloc-product #selecteur-nombre select {
  width: 20%;
  background-color: #e56161;
  color: #fff;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
@media screen and (min-width: 570px) {
  #bloc-product #selecteur-nombre select {
    width: 70%;
  }
}
#bloc-product .infos {
  display: block;
  background-color: #fff;
  width: 95%;
  padding: 5px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  #bloc-product .infos {
    display: flex;
  }
}
#bloc-product #first-bloc {
  display: none;
}
@media screen and (min-width: 570px) and (max-width: 768px) {
  #bloc-product #first-bloc {
    display: block;
    text-align: center;
    padding: 2%;
  }
}
@media screen and (min-width: 768px) {
  #bloc-product #first-bloc {
    display: block;
    text-align: center;
    padding: 2%;
    width: 30%;
    margin-right: 10%;
  }
}
#bloc-product #first-bloc__mobile {
  width: 90%;
  text-align: center;
  padding: 2%;
}
@media screen and (min-width: 570px) {
  #bloc-product #first-bloc__mobile {
    display: none;
  }
}
#bloc-product .description {
  font-family: "Roboto", sans-serif;
  color: #706d6d;
  font-size: 0.8rem;
  text-align: left;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 5%;
}
@media screen and (min-width: 768px) {
  #bloc-product .description {
    margin-left: 0;
  }
}
#bloc-product #second-bloc {
  width: 90%;
}
@media screen and (min-width: 768px) {
  #bloc-product #second-bloc {
    width: 60%;
  }
}
#bloc-product .align {
  display: flex;
  justify-content: space-around;
}
#bloc-product .prix {
  font-family: "Roboto", sans-serif;
  color: #e56161;
  font-weight: 600;
  font-size: 2rem;
}
#bloc-product .want-some {
  width: 60%;
  border-radius: 9px;
  background-color: #000;
  text-align: center;
  height: 30px;
}
#bloc-product .want-some .fas {
  color: #fff;
}
#bloc-product #ajouter {
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  font-style: italic;
  border: none;
  border-radius: 40px;
  padding: 7px;
  height: 25px;
}
#bloc-product.article__first {
  background-color: #9e6e6e;
}
#bloc-product.article__two {
  background-color: #981313;
}
#bloc-product.article__three {
  background-color: #d28080;
}
#bloc-product.article__four {
  background-color: #e1c6c6;
}
#bloc-product.article__five {
  background-color: #e56161;
}

/*# sourceMappingURL=main.css.map */
